html  {
    scroll-behavior: smooth;
 }   

body {
    margin: 0em;
    padding: 0em;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro',sans-serif;
}

.btn {
    margin-top: 20px;
    padding: 15px 4em;
    border: 2px solid #000;
    background-color: transparent;
    font-family: Oswald, sans-serif;
    color: #000;
    font-size: 17px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'oswald';
    text-transform: uppercase;
    color: #333;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    padding-bottom: 1em;
    color:#141684d4;;
}

p {
    font-size: 1.2em;
    line-height: 1.56;
    letter-spacing: -.000988rem;
    color: #6c7884;
    font-weight: 300;
    text-align: center;
}

span {
    font-family: 'Montserrat', sans-serif;
}


.logo img {
    float: left;
    width: 40%;
}

.header {
    background-image: url('./images/face-1.jpg');
    height: 100vh;
    width: 100%;
    background-position: top;
    background-size: cover;
}

.card {
    margin: 0.8em 1.2em;
}

.col.drop {
    text-align: center;
}

.drop.img {
    text-align: center;
    font-size: 60px;
}

.section-1 {
    background-color: #ffffff0f;
    padding: 6em 0em;
}

.card-body p {
    padding: 0em 0em;
}

.section-1 p {
    padding: 1em 6em;
    font-size: 1.05em;
    line-height: 1.56;
    letter-spacing: -.00688rem;
    color: #6c7884;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

/* Mouse Scroll */



*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
    margin-top: -110px;
    cursor: pointer;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid rgb(255, 255, 255);
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid rgb(255, 255, 255);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

.subheader {
    padding: 2em;
    background-color: #8080800f;
}

.header-box {
    padding: 3em 0em;
}

.header-box h1 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 3em;
    color: white;
    text-shadow: 4px 4px 5px #606060;
}

.header-box p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #343a40;
    font-weight: normal;
    text-align: left;
}

.btn.btn.btn-outline-dark {
    padding: .375rem .75rem !important;
    box-shadow: none!important;;
}

.btn-outline-dark {
    font-size: 0.8em!important;
    font-weight: 500!important;
    color: #343a40;
    border-color: #343a40;
    padding: .575rem 1.75rem!important;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    box-shadow: 4px 4px 5px #606060!important;
}

#top img {
    width:25%;
}

#top .row {
    padding: 2em 0em;
}
.drop p {
    font-size: 0.9em;
    padding: 0em 2em;
    line-height: 1.56;
    color: #6c7884;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.drop h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: black;
    font-weight: 400;
    padding-top: 1em;
}


.card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

p.card-text {
    font-size: 0.9em;
    padding: 0em 0em;
    text-align: left;
}

/*Section Two - Clients*/

.section-2 {
    background-color: #ffffff0f;
    text-align: center;
    padding: 2em 0;
}

.section-2 h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.section-2 h3 {
    padding-top: 1.5em;
}

.section-2 p {
    padding: 1em 6em;
    font-size: 1.05em;
    line-height: 1.56;
    letter-spacing: -.00688rem;
    color: #6c7884;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.card.portfolio {
    border: none;
    flex-direction: column-reverse;
}

#sahad.col.card.portfolio img {
    width:70%;
}

#prints.col.card.portfolio img {
    padding-bottom: 1em;
}

/*Section Three - Order*/

.order h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}


.section-3.order {
    
    background-color: #8080800f;
    padding: 3em 0;
}


.section-3.order p {
    padding: 1em 6em;
    font-size: 1.05em;
    line-height: 1.56;
    letter-spacing: -.00688rem;
    color: #6c7884;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}


.text-box {
    text-align: center;
    padding: 3em 0em;
}

.text-box h3 {
    text-align: center;
    padding-bottom: 0em;
    padding-top: 0.6em;
    color: white;
    text-transform: capitalize;
    font-family: inherit;
}


.sample-pack {
    position: relative;
    background-image: url('./images/sample-pack.jpg');
    background-position: center;
    background-size: cover;
    height: 35vh;
    width: 100%;
}

/*Section Four*/

.about h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.8em 0em;
    color: white;
}


.about.section-e {
    position: relative;
    background-image: url('./images/values.jpg');
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 100%;
    color: white;
}


#about.overlay.section-e {
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.84);
    height: 100%;
    width: 100%;
    opacity: 1;
}

.far {
    color: #77C043;
    font-size: 20px;
}

.villain-text.section-e {
    position: absolute;
    padding: 1em 14em;
}

.villain-text.section-e p {
    color: white;
    padding-bottom: 1em;
}


.joker {
    display: block;
    font-family: 'Montserrat','Calibri';
    padding-left: 12em;
}

.joker ul {
    display: flex;
    list-style: none;
}

.freeze {
    display: block;
    font-family: 'Montserrat','Calibri';
    padding-left: 13em;
}

.freeze ul {
    display: flex;
    list-style: none;
}

.hero-text.section-e h1 {
    color: white;
    margin: -8em auto;
    position: absolute;
    z-index: 100;
}

.hero-text.section-e p {
    color: white;
    position: relative;
    z-index: 100;
}

#about-a.row {
    color: none;
    margin: 2em auto;
    position: absolute;
    z-index: 100;
}

#about-b.row {
    color: none;
    margin: 4em auto;
    position: absolute;
    z-index: 100;
}

/*Section Five*/

.testimonials-clean {
    color:#313437;
    background-color:#eef4f7;
  }
  
  .testimonials-clean p {
    color:#7d8285;
  }
  
  .testimonials h2 {
    margin-bottom: 40px;
    padding-top: 40px;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'oswald';
    font-size: 2.8em;
  }
  
  @media (max-width:767px) {
    .testimonials h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .testimonials .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .testimonials .intro p {
    margin-bottom:0;
  }
  
  .testimonials .people {
    padding:50px 0 20px;
  }
  
  .testimonials .item {
    margin-bottom:32px;
  }
  
  @media (min-width:768px) {
    .testimonials .item {
      height:220px;
    }
  }
  
  .testimonials .item .box {
    padding:30px;
    background-color:#fff;
    position:relative;
  }
  
  .testimonials .item .box:after {
    content:'';
    position:absolute;
    left:30px;
    bottom:-24px;
    width:0;
    height:0;
    border:15px solid transparent;
    border-width:12px 15px;
    border-top-color:#fff;
  }
  
  .testimonials .item .author {
    margin-top:28px;
    padding-left:25px;
  }
  
  .testimonials .item .name {
    font-weight:bold;
    margin-bottom:2px;
    color:inherit;
  }
  
  .testimonials .item .title {
    font-size:13px;
    color:#9da9ae;
  }
  
  .testimonials .item .description {
    font-size:15px;
    margin-bottom:0;
  }
  
  .testimonials .item img {
    max-width:40px;
    float:left;
    margin-right:12px;
    margin-top:-5px;
  }
  
  

/*footer*/

.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display: contents; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { margin-right: 20px; padding-top: 10px; float: right; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

#footer.row {
    text-align: center;
}

ul.footer_ul_amrc li p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

@media (max-width: 460px) {

.desktop {
    display: none;
}    


/*MOBILE Section One*/

    .header-box {
        padding-top: 10em;
    }

    .header-box h1 {
        font-size: 2em;
    }

    .header-box p {
        font-size: 1em;
        padding: 1em 0em;
    }

    .section-1 p {
        padding: 0em 0em;
    }

/*MOBILE Section Two*/

    .section-2 p {
        padding: 1em 1em;
    }

    .card {
        margin: auto;
        margin-top: 2em;
    }

    .card-body {
        text-align: center;
    }

    #portfolio img {
        margin: auto;
    }

    #portfolio img {
        width: 70%;
    }

/*MOBILE Section Three*/

    .section-3.order p {
        padding: 1em 1em;
    }

    .section-3.order .container {
        padding-right: 0px;
        padding-left: 0px;

    }

    
/*MOBILE Section Five*/

    .villain-text.section-e {
        padding: 1em 1em;
    }

    .freeze {
        padding-left: 0em;
    }

    .joker {
        padding-left: 0em;
    }


/*MOBILE Section Footer*/    

h5.pt2 {
    text-align: center;
}

i.fas.fa-fax {
    text-align: center;
    align-content: center;
    display: block;
}

.social_footer_ul li {
    margin-right: 0px;
    padding-top: 10px;
    float: right;
}

.mb10 ul {
    padding-left: 0px;
}

.social_footer_ul {
    display: inline-flex;
    margin: 15px 30px 0 auto;
}

}


@media (min-width: 760px) {
.mobile {
        display: none;
    }    

}
